/* Tailwind v4 + Leaflet */
@import "tailwindcss";

/* Reset & Layout-Fix: überschreibt Vite-Template-Stile */
html, body, #root { height: 100%; }
body {
  margin: 0;
  background: white;              /* weg mit dem dunklen Vite-Background */
  color: #111827;                 /* Tailwind gray-900 als Default-Textfarbe */
}

/* WICHTIG: NICHTS wie `#root { max-width: ... }` hier stehen lassen */
:root{
  --ink: #112712;
  --green-dark: #2c4236;
  --black-olive: #2F342F;
  --ebony: #505851;
  --battleship-gray: #717B72;
  --ash-gray1: #929E93;
  --ash-gray2: #B3C1B4;
  --ash-gray3: #C6D1C7;
  --platinum: #D9E0DA;
  --anti-flash-white: #ECF0ED;
  --white: #FFFFFF;
  --misty-rose: #FFE3DE;
  --orange-pantone: #FF5500;
  --golden-gate: #EF5103;
  --syracuse-red-orange: #DF4C06;
  --brown: #9D3A12;
  --Sienna: #7C3017;
  --caput-mortuum: #5F2316;
  --black-bean: #411614;



}
